@font-face {
    font-family: "SF Pro";
    src:url("/Library/Fonts/SF-Pro.ttf") format('truetype'),
        url("/Library/Fonts/SF-Pro.otf") format('opentype'),
        url('/Library/Fonts/SF-Pro.woff') format('woff'),;
}


* {
    font-family: "SF Pro", monospace;
    font-weight: 200;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: scroll;
    min-height: 95vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px slategray solid;
    border-radius: 40px;
    height: 500px;
    width: 300px;
    background-color: black;
    padding: 40px 10px 40px 10px;
}

.row {
    width: inherit;
    border-radius: 8px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

button {
    font-size: 28px;
    border-radius: 50px;
    border: none;
    margin: 3px;
    cursor: pointer;
    transition-duration: 0.4s;
    max-width: 70px;
    min-width: 70px;
    text-align: center;
    padding: 0px;
}

button:hover {
    opacity: 0.8;
}

.viewport {
    align-items: center;
    justify-content: end;
    color: white;
}

.viewport-text, .operation-text {
    text-align: right;
    padding-right: 10px;
    justify-content: end;
}

.viewport-text {
    font-size: 60px;
    color: white;
}

.operation-text {
    font-size: 24px;
    color: lightgray;
    align-self:flex-end;
}

.ops, .num, .func, .equals {
    flex: 1;
    align-self: stretch;
    color: white;
}

button#zero {
    flex-basis: 50%;
    text-align: left;
    padding-left: 30px;
    max-width: 148px;
    min-width: 148px;
}

#decimal, #equals {
    flex-basis: 25%;
}

.func {
    background-color: gray;
}

.ops, .equals {
    background-color: orange;
    font-size: 36px;
}

.num {
    background-color: slategray;
}
